<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695081966668-f0c7orejiccqoq259hfun5vvj3cdpeuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695081966668-f0c7orejiccqoq259hfun5vvj3cdpeuh</string>
	<key>API_KEY</key>
	<string>AIzaSyDQQSLW3OWiJokwg8-gtjY82UkeAlBU3l0</string>
	<key>GCM_SENDER_ID</key>
	<string>695081966668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taekki.FirebaseSample</string>
	<key>PROJECT_ID</key>
	<string>sesac-d55c6</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-d55c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695081966668:ios:bcd170cec13b05837ae8e9</string>
</dict>
</plist>